/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
	display: inline-block;
}
a:hover {
text-decoration: none;	
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	font-family: Roboto, sans-serif;
	color: #fff;
	line-height: 1;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1050px;
}


@media (max-width:992px) {
	[class*="__container"] {
  padding: 0 10px;
  max-width: 900px;
}
}

@media (max-width:767.5px) {
	[class*="__container"] {
  padding: 0 10px;
  max-width: 700px;
}
}