@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.header {
  position: absolute;
  width: 100%;
}

.header__container {
  padding-top: 25px;
}
/* ------------------------------------верхняя часть шапки---------------------- */
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top:not(:last-child) {
  margin-bottom: 25px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__link {
  margin-right: 10px;
}

.logo__img {
  flex: 0 0 40px;
}

@media (max-width: 899px) {
  .logo__text {
    display: none;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  column-gap: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 0.15px;
}

@media (max-width: 767.5px) {
  .header__contacts {
    padding-right: 70px;
    column-gap: 20px;
  }
}

@media (max-width: 520px) {
  .header__contacts {
    font-size: 0;
  }
}

.contacts-header {
  position: relative;
  padding-left: 35px;
}

@media (max-width: 390px) {
  .contacts-header {
    padding-left: 30px;
  }
}

@media (max-width: 520px) {
  .contacts-header {
    padding-left: 60px;
  }
}

@media (max-width: 390px) {
  .contacts-header {
    padding-left: 30px;
  }
}

.contacts-header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

@media (max-width: 520px) {
  .contacts-header::before {
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-size: 30px;
  }
}

.header-contacts__hours::before {
  background: url(../img/contacts_01.svg) no-repeat;
}

.header-contacts__title {
  text-transform: uppercase;
}

.header-contacts__phone {
  font-weight: 500;
  color: inherit;
}

.header-contacts__phone::before {
  background: url(../img/contacts_02.svg) no-repeat;
  transition: 0.3s;
}


.header-contacts__phone:hover {
  color: #f2726f;
}
.header-contacts__phone:hover::before {
  background: url(../img/phone_hover.svg) no-repeat;
  top: 2px;
  left: 2px;
}

@media (max-width: 520px) {
  .contacts-header::before {
  top: -21px;
  left: -15px;
  width: 43px;
  height: 43px;
  background-size: 40px;
  }
  .header-contacts__phone::before {
    top: -22px;
    background-size: 43px;
  }
  .header-contacts__phone:hover::before {
  top: -22px;
  left: -15px;
  background-size: 35px;
}
}

.button {
  padding: 11px 44px;
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.15px;
  border-radius: 8px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background: #f2726f;
  transition: 0.3s;
}

@media (max-width: 992px) {
  .button {
    padding: 8px 35px;
    font-weight: 500;
  }
}

@media (max-width: 799px) {
  .header-contacts__button {
    display: none;
  }
}

.button:hover {
  background: saddlebrown;
}

/* ------------------------------------нижняя часть шапки---------------------- */
.header__bottom {
  display: flex;
  padding: 18px 40px;
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 992px) {
  .header__bottom {
    padding: 10px;
  }
}

.navigation {
  flex: 1 1 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
}

.navigaion__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  padding: 0 5px;
}

@media (max-width: 992px) {
  .navigaion__list {
    column-gap: 25px;
  }
}

@media (max-width: 767.5px) {
  .navigaion__list {
    display: none;
  }
}

.navigation__item {
  display: flex;
}

.navigation__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 170%;
  letter-spacing: 0.15px;
  color: #000;
}

.navigation__sub-menu {
}

.navigation__sub-item {
  margin-left: 5px;
}

.navigation__icons {
  display: flex;
  column-gap: 20px;
}

@media (max-width: 767.5px) {
  .navigation__icons {
    justify-content: space-between;
    width: 100%;
  }
}

.search {
  display: flex;
  flex: 1 1 auto;
}

.search__input {
  padding: 5px 20px 5px 5px;
  background: url(../img/search.svg) 100% center no-repeat;
  outline: none;
}

@media (max-width: 992px) {
  .search__input {
    max-width: 150px;
  }
}

@media (max-width: 767.5px) {
  .search__input {
    padding-left: 20px;
    max-width: 100%;
    width: 100%;
    background-position: 0 50%;
  }
}

.search__input:focus {
  border-bottom: 1px solid #000;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart:hover.cart::after {
  background: #5d62b5;
}

.cart::after {
  position: absolute;
  content: "2";
  width: 16px;
  height: 16px;
  top: -7px;
  right: -7px;
  background: #f2726f;
  border-radius: 50px;
  font-size: 10px;
  font-weight: 500;
  line-height: 160%;
  text-align: center;
  transition: 0.2s;
}

#menu__toggle {
  display: none;
}

.burger-menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  position: fixed;
  top: 30px;
  right: 20px;
  width: 40px;
  height: 26px;
  cursor: pointer;
  z-index: 5;
}
.burger-menu__btn > span,
.burger-menu__btn > span::before,
.burger-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #df4646;
}
.burger-menu__btn > span::before {
  content: "";
  top: -11px;
}
.burger-menu__btn > span::after {
  content: "";
  top: 11px;
}

@media (min-width: 767.5px) {
  .burger-menu__btn {
    display: none;
  }
}

.burger-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 80px 0;
  text-align: center;
  background-color: #5d62b5;
  z-index: 2;
}
.burger-menu__list::before {
  content: "";
  position: absolute;
  background: url(../img/logo.svg);
  top: 25px;
  left: 20px;
  width: 40px;
  height: 40px;
}

/* элементы меню */
.burger-menu__item {
  display: block;
  padding: 25px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2.5px;
  color: #fff;
}
.burger-menu__item:hover {
  background-color: #df4646;
}

#menu__toggle:checked ~ .burger-menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .burger-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .burger-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .burger-menu__list {
  visibility: visible;
  left: 0;
}

#menu__toggle:checked ~ .burger-menu__list > li > .burger-header__contacts {
  display: block;
  background: yellow;
}

.burger-menu__btn > span,
.burger-menu__btn > span::before,
.burger-menu__btn > span::after {
  transition-duration: 0.25s;
}
.burger-menu__list {
  transition-duration: 0.25s;
}
.burger-menu__item {
  transition-duration: 0.25s;
}

/* --------------------------------------start hero ------------------------*/

.hero {
  padding: 280px 0 312px 0;
  background: url(../img/bgdog.jpg) 50% / cover no-repeat;
}

@media (max-width: 992px) {
  .hero {
    padding: 200px 0 230px 0;
  }
}

@media (max-width: 767.5px) {
  .hero {
    padding: 185px 0 150px 0;
  }
}

.hero__title {
  max-width: 580px;
  font-size: 56px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: 0px;
}

@media (max-width: 767.5px) {
  .hero__title {
    font-size: 40px;
  }
}

@media (max-width: 649px) {
  .hero__title {
    font-size: 30px;
    text-align: center;
  }
}

.hero__title:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: 649px) {
  .hero__title:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.5px) {
  .hero__button {
    width: 100%;
    text-align: center;
  }
}

/* --------------------------------about-------------------- */
.overtitle {
  padding-left: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.title {
  font-size: 36px;
  font-weight: 900;
  line-height: 116.6%;
  letter-spacing: 0px;
}

/*about*/

.main__about {
  margin: -80px 0 150px 0;
}

@media (max-width: 899px) {
  .main__about {
    margin-bottom: 0;
  }
}

.about__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #5d62b5;
  padding: 100px 87px 00;
  border-radius: 40px;
}

@media (max-width: 1169px) {
  .about__container {
    padding: 70px 30px 0;
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .about__container {
    padding: 40px 20px 20px;
    max-width: 850px;
  }
}

@media (max-width: 849px) {
  .about__container {
    padding: 20px 10px 10px;
    border-radius: 0;
  }
}

.about__container::after {
  position: absolute;
  content: "";
  background: url(../img/decoration.svg) no-repeat;
  width: 200px;
  height: 310px;
  top: -110px;
  right: -70px;
}

@media (max-width: 1290px) {
  .about__container::after {
    display: none;
  }
}

.about__overtitle {
  position: relative;
  margin-bottom: 33px;
  align-self: flex-start;
}

.about__overtitle::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/overline_02.svg);
  top: -1px;
  left: 0;
}

.about__title {
  margin-bottom: 35px;
}

@media (max-width:767.5px) {
  .about__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
}

.about__text {
  margin-bottom: 54px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #f5f5f5;
}

@media (max-width:992px) {
  .about__text{
    margin-bottom: 40px;
  }
}

@media (max-width:570px) {
  .about__text{
    margin-bottom: 20px;
  }
}

.about__img {
  position: relative;
  text-align: center;
}

.about__img img {
  margin-bottom: -120px;
  box-shadow: 0px 16px 24px 0px #26262633, 0px 8px 16px 0px #2626263d;
  border-radius: 40px;
}

@media (max-width: 992px) {
  .about__img img {
    max-width: 750px;
  }
}

@media (max-width: 899px) {
  .about__img img {
    margin: 0;
  }
}

@media (max-width: 767.5px) {
  .about__img img {
    max-width: 550px;
  }
}

@media (max-width: 570px) {
  .about__img img {
    display: none;
  }
}

/*---------------------------------- intro ---------------------- */
.intro {
  position: relative;
  display: flex;
  padding: 45px 20px 0;
  background: #29c3be url(../img/ball.png) 100% 0 no-repeat;
}

@media (max-width: 899px) {
  .intro {
    padding: 30px 10px 0;
    background-position: 100% 10%;
  }
}

.intro::before {
  position: absolute;
  content: "";
  background: url(../img/decoration.svg) 0 0 no-repeat;
  top: 25%;
  left: 1%;
  width: 200px;
  height: 310px;
  z-index: 1;
}

@media (max-width: 999px) {
  .intro::before {
    display: none;
  }
}

.intro::after {
  position: absolute;
  content: "";
  background: url(../img/Blob_3.png) 0 0 no-repeat;
  top: 0;
  left: 0;
  width: 665px;
  height: 691px;
  z-index: 1;
}

@media (max-width: 767.5px) {
  .intro::after {
    display: none;
  }
}

.intro__img {
  position: relative;
  z-index: 2;
}

@media (max-width: 999px) {
  .intro__img img {
    width: 500px;
  }
}

@media (max-width: 767.5px) {
  .intro__img img {
    display: none;
  }
}

.intro__container {
  padding-top: 110px;
}

@media (max-width: 1035px) {
  .intro__container {
    padding-top: 70px;
  }
}

@media (max-width: 767.5px) {
  .intro__container {
    padding: 30px 0;
  }
}

.intro__title {
  margin-left: auto;
  max-width: 410px;
  font-size: 36px;
  font-weight: 900;
  line-height: 115%;
  letter-spacing: 0px;
}

@media (max-width: 899px) {
  .intro__title {
    font-size: 24px;
  }
}

.intro__title:not(:last-child) {
  margin-bottom: 40px;
}

@media (max-width: 767.5px) {
  .intro__button {
    width: 100%;
  }
}

.footer {
  padding: 30px;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  background-color: #71ac85;
}
